/* For Testing */
/*body {
    background-color: blue;
}*/
​
#number-one{
    color: purple;
}
​
#number-two{
    font-size: 16px;
}
​
.first-class{
    color: green;
}
​
.second-class{
    font-size: 24px;
}